# This is Git's per-user configuration file.
[user]
	name = Pranav Sindura
	email = pranav.sindura@gmail.com
[core]
    pager = delta
    fsmonitor = true

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

# Please adapt and uncomment the following lines:
#	name = Pranav Sindura
#	email = pranav.sindura@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[rerere]
	enabled = true
[branch]
	sort = -committerdate
[column]
	ui = auto
[maintenance]
	repo = /Users/pranavsindura/SourceCode/react-native/wallet
	repo = /Users/pranavsindura/SourceCode/dotfiles
	repo = /Users/pranavsindura/.config/nvim
